:root {
    background-color: #f1f6fb;
    font-size: 62.5%;
    --text-blue: #56a5eb;
    --box-shadow: hsla(200, 79%, 63%, 0.502);
}

* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

h1,
h2,
h3,
h4 {
    margin-bottom: 1rem;
}

h1 {
    font-size: 5.4rem;
    color: var(--text-blue);
    margin-bottom: 5rem;
}

h1>span {
    font-size: 2.4rem;
    font-weight: 500;
}

h2 {
    font-size: 4.2rem;
    margin-bottom: 4rem;
    font-weight: 700;
}

h3 {
    font-size: 28px;
    font-weight: 500;
}

section {
    background-color: rgb(193, 224, 247);
    width: 50%;
    min-height: 500px;
    margin: 0 auto;
    padding: 1em 10% 0.5em;
    border-radius: 8px;
    align-self: center;
    display: flex;
    flex-direction: column;
    color: #333;
}


/* intro */

.intro {
    text-align: left;
}

.intro p {
    font-size: 2rem;
    margin-bottom: 4rem;
    font-weight: 700;
}

.intro ul {
    list-style: circle;
    font-size: 1.9rem;
    margin: 1em auto;
    list-style-position: outside;
}


/* header */

.title {
    background-color: #07377b;
    /* color: var(--text-light); */
    font-size: 44px;
    padding: 0.5em 0;
    text-align: center;
}

.local-storage:hover {
    cursor: pointer;
    transform: translateY(-5px);
}


/* UTILITIES*/

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    /* align-items: flex-start; add back if I decided to add a header*/
    max-width: 80rem;
    margin: 0 auto;
    padding: 2rem;
}


/* any child of the container */


/* .container>* {
    width: 100%;
} */

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.text-center {
    text-align: center;
}

.hidden {
    display: none;
}


/* BUTTONS */

.btn {
    font-size: 1.8rem;
    padding: 1rem 0;
    width: 20rem;
    text-align: center;
    border: 0.1rem solid var(--text-blue);
    margin-bottom: 1rem;
    text-decoration: none;
    color: var(--text-blue);
    background-color: white;
}

#count {
    font-size: 4rem;
    padding: 1rem 0;
    width: 20rem;
    text-align: center;
    border: 0.1rem solid var(--text-blue);
    margin-bottom: 1rem;
    text-decoration: none;
    color: var(--text-blue);
    background-color: white;
}

#count {
    position: absolute;
    top: 30px;
    right: 40px;
}

.subtitle {
    padding: 0.5em 1em 1em;
}

.btn:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 var(--box-shadow);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}

.btn [disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}


/* FORMS */

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    margin-bottom: 1rem;
    width: 20rem;
    padding: 1.5rem;
    font-size: 1.8rem;
    border: none;
    box-shadow: 0 0.1rem 1.4rem 0 var(--box-shadow);
}